<!DOCTYPE html>
<html>
    <head>
        <title>Gbale Customers Track</title>
        <link rel= "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel= "stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>

<div id="landing-page">
    <h1 id="welcome">Welcome to Gbale</h1>
    <h1>We are dedicated to serving your need of apartment</h1>
    <a href="/login" class="btn btn-lg btn-success">Login</a>
    <a href="/register" class="btn btn-lg btn-success">sign up</a>
    <a href="/home" class="btn btn-lg btn-success">Home</a>
</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

</body>
</html>
