body { 
    padding-bottom: 70px; 
	padding-top: 70px; 
}

.thumbnail {
    padding: 0;
}

.navbar-default {
	background-color: rgb(136, 187, 245);
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-brand {
	color: white;
}

.jumbotron {
	background-color: rosybrown;
}

.table {
	width: 100%;
}

thead>tr {
	background-color: beige;
}

tr,th {
	text-align: center;
}

tbody>tr:nth-child(odd) {
	background-color: aquamarine;
}

tbody>tr:nth-child(even) {
	background-color: rgb(241, 211, 76);
}

.delete-button {
	display: inline-block;
}

.move-button {
	display: inline-block;
}

td button, td button a {
	background-color: thistle;
	color: #000000;
	outline: none;
	border-radius: 10%;
	border: none;
}

.notif {
	padding: 10px;
	background-color: violet;
	width: 6rem;
	height: .5rem;
	margin: 0 auto;
}


